<app-navbar></app-navbar>

<div class="conteudos-notícias">
    <div class="lista-noticias">
    
        <ng-container *ngFor="let item of listaNoticias" >
        <div class="noticia">
            <div class="cabecalho-noticia">
                <div class="usuario-noticia">
                    Esdras
                </div>
                <div class="data-noticia">
                Data:04/04/2024 
                </div>
             
            </div>

        <div class="texto-noticia">
            Essa é a noticia x sobre y assunto que ocorreu hoje.
        </div>
        </div>
        </ng-container>

    </div>

</div>